
    @media only screen and (min-width: 660px) {
  .orders-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-column-gap: 24px;
    grid-row-gap: 24px;
   
}
    }