
  
  .page-content{

    background-color: bisque;
    padding: 25px;
  }

  .parcel-header{

    color: bisque;
  }

  .back-button{
    
    background-color: #540d6e;
    color: white;
    text-decoration: none; 
display: inline-block;
padding: 8px 16px;
margin-top: 30px;
margin-left: 100px;
border-radius: 15px;
border-color: white;
font-size: 16px;

  
}
.back-button:hover {
background-color: aliceblue;
color: #540d6e;
}

.button_margin{
  margin-left: 120px;
}



  
  @media only screen and (min-width: 660px){
.page-content{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center; 
    padding: 50px;
    background-color: bisque;
    
}

.page-center{
    margin: 25px 500px 75px;
}
.parcel-header{
    margin-left: 120px;
    color: blanchedalmond;
}
.parcel-heading{
    margin-left: 40px;
    
}


  }


 