.homePage-content{
    text-align:center ;
    color: antiquewhite;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.homePage-des{
    font-size: 18px;
}

.home-page{
    background-color:#540d6e;
}
