

/* .Cards{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
    
}

.cards{
    text-decoration: none;
}

.gaps{
    flex-grow: 1;
}

.sender-info{
    
    text-align: center
}

.Cards:hover{
  background-color: lightslategrey;
  cursor: pointer;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

@media only screen and (min-width: 660px) {
    .Cards{
    flex-direction: column;
    text-align: center;
    padding: 16px 0 0 0;
    margin-bottom: 0;
    }

    .sender-info{
        margin: 16px 0
    }

  }
   */

   .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: auto;
    padding: 50px;
    text-align: center;
    font-family: arial;
    background-color: blanchedalmond;
   border-radius: 8px;
  }

  
  .title {
    color: grey;
    font-size: 16px;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    text-decoration: none;
  }

  .button:hover, a:hover {
    opacity: 0.7;
  }

  p{ 
    text-transform: capitalize;
   }